@model IEnumerable<WebApplication1.Models.Qualification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position_Qualifications.qID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification_Type.Qualification_Types)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position_Qualifications.qID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification_Type.Qualification_Types)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
